.container {
    width: 300px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.5);
    float: right;
    margin-top: 35px;
    margin-right: 20px;
}
.header {
    font-weight: bold;
    font-size: 18px;
    background-color: #ffffff;
}
.sub-header {
    font-size: 14px;
    color: gray;
}
.content {
    margin-top: 15px;
    font-size: 16px;
}
.content img {
    float: right;
    width: 50px;
}
.content p {
    margin-bottom: 15px;
}
.footer a {
    color: #0073b1;
    text-decoration: underline;
    font-weight: bold;
}
.footer a:hover {
    text-decoration: underline;
}
.footer {
    margin-top: 20px;
}
.footer a:hover {
    cursor: pointer;color: blue;
}
.linkedin-footer {
    margin-top: 50px;
    font-size: 12px;
    color: gray;
    text-align: center;
    top: 0%;
    float: right;
    margin-top: 40px;
    margin-left: 400px;
    
}
.linkedin-footer img{width: 55px;}








